In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [3]:
import os

In [4]:
#os.system(f"wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv -O lookup.csv")

In [5]:
df = pd.read_csv("lookup.csv")

In [6]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
engine = create_engine('postgresql://felipe123:felipe123@localhost:5432/ny_last_class')

In [8]:
engine

Engine(postgresql://felipe123:***@localhost:5432/ny_last_class)

In [11]:
#df.to_sql(name='ny_last_class', con=engine, if_exists='replace')

In [9]:
df.dtypes

LocationID       int64
Borough         object
Zone            object
service_zone    object
dtype: object

In [10]:
df2 = pd.read_csv('output.csv', iterator=True, chunksize=100000)

In [12]:
df_2 = next(df2)

In [14]:
df_2.head(0).to_sql(name='ny_last_class2', con=engine, if_exists='replace')

In [15]:
df_2.to_sql(name='ny_last_class2', con=engine, if_exists='append')

In [16]:
while True:
    try:
        df_2 = next(df2)
        df_2.to_sql(name='ny_last_class2', con=engine, if_exists='append')
    except:
        print('Done')
        break

/home/felipe/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3377: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

Done